/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/firebase-debug.log
/firestore-debug.log
/pubsub-debug.log
/ui-debug.log
/firebase.json
/src/main/resources/static/js/login.js